@import url("https://fonts.googleapis.com/css?family=Raleway:900&display=swap");

/* setup variables*/
:root {
  --bg-color: #bbbbbb;
  --primary-color: #504ead;
  --secondary-color: #ef4ead;
  --primary-font: "Raleway", sans-serif;
  --secondary-font: "Arial", sans-serif;
  --first-box-color: #ffabd6;
  --second-box-color: #cc9be8;
  --third-box-color: #b8b8ff;
  --fourth-box-color: #9bcae8;
  --fifth-box-color: #6effdc;
}

/* set border box and all styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* setup main grid container */
.grid_container {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0 auto;
  text-align: center;
}

/* apply body styles */
body {
  font-family: var(--primary-font);
}

/* set h1 style */
h1 {
  color: var(--primary-color);
  text-transform: uppercase;
}

h2 {
  color: var(--secondary-color);
}

.colorPicker {
  display: flex;
  justify-content: center;
}

input {
  width: 100px;
  height: 100px;
  padding: 10px;
}

label {
  font-size: 20px;
}

/* setup grid on palette section */
.palette {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;
  grid-gap: 10px;
  height: 100px;
  padding: 10px;
  margin: 10px;
  border: 5px solid black;
  color: aqua;
}

#firstBox {
  background-color: var(--first-box-color);
}

#secondBox {
  background-color: var(--second-box-color);
}

#thirdBox {
  background-color: var(--third-box-color);
}

#fourthBox {
  background-color: var(--fourth-box-color);
}

#fifthBox {
  background-color: var(--fifth-box-color);
}
